.container{
    background: #F8F9FA;
    width: 60%;
    height: fit-content;
    margin-top: 20px;
}

.messageSection{   
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 300px;
}

.incoming p{
    background: rgb(59, 103, 168);
    padding: 10px;
    border-radius: 10px;
    color: white;
}

.incoming h6{
    font-weight: bold;
}

.incoming{
    float: right;
    width: 200px;
    max-width: 50%;
}

.outgoing{    
    width: 200px;
    max-width: 50%;
    margin-left: auto;
}

.outgoing h6{
    font-weight: bold;
}

.outgoing p{
    background: #ddcab3;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

textarea{
    width: 100%;
    border: none;
    font-size: 10px;
    background: #dbdbdb;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    margin-right: 5px;
}